.main {
  min-height: 100vh;
  padding: 48px 22px 22px;
  background: #ffffff;
}

.main h1 {
  text-align: center;
  font-size: 28px;
  padding-top: 30px;
}

.lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.signUpWith {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #6e7275;
}

.google {
  height: 56px;
  width: 100%;
  max-width: 320px;
  background: #ffffff;
  box-shadow: 15px 0px 30px rgba(211, 212, 226, 0.25);
  border-radius: 12px;
  border: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.iconGoogle {
  font-size: 32px;
}

.iconFb {
  font-size: 30px;
  color: #1877f2;
}

.number p {
  font-size: 16px;
  margin-top: 20px;
}

/* .line {
  height: 40px;
  width: 1px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 20px;
} */

.or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}
